.News-container{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    font-size: 40px;
    color: #444;
    text-transform: uppercase;
    word-spacing: 20px;
}